<div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tabComputers" data-toggle="tab"><i class="icon-hdd"></i> Computers</a></li>
        <li><a href="#tabUsers" data-toggle="tab"><i class="icon-user"></i> Users</a></li>
        <li><a href="#tabManagers" data-toggle="tab"><i class="icon-lock"></i> Managers</a></li>
        <li><a href="#tabOses" data-toggle="tab"><i class="icon-tags"></i> Platforms</a></li>
        <li><a href="#tabSoftwares" data-toggle="tab"><i class="icon-gift"></i> Softwares</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tabComputers">
            <p>Computers</p>
        </div>
        <div class="tab-pane" id="tabUsers">
            <p>Users</p>
        </div>
        <div class="tab-pane" id="tabManagers">
            <p>Managers</p>
        </div>
        <div class="tab-pane" id="tabOses">
            <p>Oses</p>
        </div>
        <div class="tab-pane" id="tabSoftwares">
            <p>Softwares</p>
        </div>
    </div>
</div>