<form class="form-inline" action="<%= formUrl() %>">
    <%= breadcrumbs() %>
    <%= templates._groupForm(model) %>
    <div class="form-actions">
        <div class="controls controls-row">
            <button type="button" class="btn span2">Cancel</button>
            <input type="text" name="comment" id="comment" placeholder="<%= comment || 'Comment' %>" class="span8" />
            <button type="submit" class="btn btn-primary span2">Save</button>
        </div>
    </div>
</form>