 <table class="table table-condensed table-striped">
    <!--caption>Platforms</caption-->
    <thead>
        <tr>
            <th width="1%"></th>
            <th>Name</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        <!-- OsItemView -->
    </tbody>
</table>
