/*
@import 'bootstrap.css';
@import 'bootstrap-responsive.min.css';
*/
body {
    padding-top: 70px;
    padding-bottom: 50px;
}

li.editing > .view,
tr.editing .view,
input.edit,
select.edit,
.actions {
    display: none;
}

li.editing > input.edit,
tr.editing input.edit,
tr.editing select.edit,
a:hover > .actions {
    display: inline-block;
}

.actions i { cursor: pointer; }
    
.nav-list {
     padding-left: 10px;
    padding-right: 10px;
}

#groups-tree > ul .nav-list {
    padding-right: 0;
    border-left: 1px dotted #777777;
    margin-left: 6px;
    padding-left: 10px;
}
.nav-list > li > a {
    padding: 3px 10px;
    margin-left: -10px;
    margin-right: -10px;
}

.hidden { display: none; }

[class^="icon-os-"],
[class*=" icon-os-"] {
    display: inline-block !important;
    width: 17px !important;
    height: 16px;
    *margin-right: .3em;
    line-height: 14px !important;
    vertical-align: text-top;
    background-position: center center;
    background-repeat: no-repeat;
}
[class^="icon-os-"]:last-child {
    *margin-left: 0;
}

.icon-os-ubuntu { background-image: url('/static/img/oses/ubuntu.png') !important; } .icon-os-ubuntu:before { content: ""; }

@media (max-width: 980px) {
/* Enable use of floated navbar text */
.navbar-text.pull-right {
  float: none;
  padding-left: 5px;
  padding-right: 5px;
}
.navbar .brand {
  padding-left: 20px !important;
}
}
